__pycache__/
client_secret_417662626258-tqlbk5lml1v82p0l5nr3f3lk4mte12ir.apps.googleusercontent.com.json
credentials.json
details.json
*DS_Store*
*DS_Store*
to-do.txt
.gcp/
*egg*
experiments/experimental_data/
build/
*build*
